body {
  min-width: 375px;
}

#app{
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  margin: 50px auto 0 auto;
  background: none;
  border:2px solid #2f2400;
  color: #2f2400;
  border-radius: 16px;
  padding: 10px 20px;
  max-width: 340px;

}
.wrapper {

  width: 100%;
  display: grid;
  grid-template-rows: 100px 140px min(600px) auto;
  grid-template-columns:auto;
  min-height: 100vh;
  background: rgba(0,0,0,0.2);
}
.container {
  max-width: 1200px;
  min-width: 345px;
  margin: 0 auto;
  padding:15px;
}
.container__flex {
  display: flex;
  //padding: 0;
  justify-content: center;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.header {
  border-bottom:1px solid black;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile {
  //border-bottom:1px solid black;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.profile__photo > img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid black;
  margin-right: 20px;
}
.profile__info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.profile__info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  border-bottom:1px solid black;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}


.bar__wrapper {
  flex: 2;
  margin-right: 50px;
  position: relative;

}
.bar__img {
  z-index: 10;
}

.bar__img > img{
  width: 800px;
  height: 535px;
}

.bar__video {
  top: 121px;
  right: 186px;
  position: absolute;
  z-index: -2;
}
.bar__video > iframe{
  width: 200px;
  height: 120px;
}

.footer {
  border-bottom:1px solid black;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1024px){
  .wrapper {
    grid-template-rows:100px 140px auto auto;
  }
  .container__flex {
    justify-content: flex-start;
    width: 100%;
  }
  .bar__img > img{
    width: 340px;
    height: 233px;
  }
  .bar__video {
    top: 54px;
    right: 82px;
  }
  .bar__video > iframe{
    height: 58px!important;
    width: 93px!important;
  }
  .bar__wrapper {
    margin-right: unset;
    margin-bottom: 24px;
  }
  .row__flex-start {
    flex-direction: column;
  }
}